/*rowMain*/
.rowMain {
	background: url("../img/cassava-cake-main-image.jpg") no-repeat scroll center center / cover transparent;
}

#rowInternal1 .imageCol  {
	background: url("../img/cassava-cake-row1-image.jpg") no-repeat scroll center center / cover transparent;
}

.parallax { 
    background-image: url("../img/cassava-cake-parallax-image.jpg");
 }

#rowInternal3 .imageCol  {
	background: url("../img/cassava-cake-row3-image.jpg") no-repeat scroll center center / cover transparent;
}