* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body*/
body {
	background: url("../img/site-background.jpg") no-repeat scroll center center / cover transparent;
	
}

/*wrapper*/
.wrapper {
	background: url("../img/josies-delicacies-bread-background.png") no-repeat scroll center bottom / contain transparent;
	
}

/*generic fonts*/
h1,
h2,
h3 {
	font-family: 'Pacifico', cursive;
}

p,
a,
span,
h4,
.navbar-default .navbar-nav > li > a {
	font-family: 'Cabin Condensed', sans-serif;
}

h1,
h2, 
h3, 
h4 {
	color: #a6000b;
}

p,
a,
span,
.navbar-default .navbar-nav li > a,
.navbar-default .navbar-nav .open .dropdown-menu li > a {
    color: #331507;
}

p, 
nav a,
.btn {
    font-size: 1.2em;
}

/*rowHeader*/
.rowHeader {
	padding: 20px;
}

.rowHeader span {
    font-size: 1.2em;
    margin-left: 5px;
}

/*contactDetails*/
.contactDetails {
    text-align: right;
}

.headerEmail > *, 
.headerPhone > * {
    display: inline-block;
    vertical-align: middle;
}

.headerEmail a:hover {
    color: #a6000b;
}

/*Business logo*/
.logo {
    max-width: 50%;
    min-width: 200px;
}

.navbar-brand {
	height: auto;
	max-width: 60%;
}

/*Navigation Bar*/

.navbar {
    background-color: #e4ba88;
    margin-bottom: 0px;
    border: 0;
	min-height: 0;
    border-radius: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-collapse {
    padding: 0;
}

#navigation .active:hover > a,
#navigation li:focus > a, 
#navigation li:hover > a,
#navigation .open > a {
	background-color: #331507;
	color: #fff;
}

#navigation .active > a {
    background-color: #a6000b;
    color: #fff;
}

#navigation .open .caret,
#navigation .active .caret,
#navigation .dropdown:hover .caret {
	color: #fff;
}

.dropdown-menu {
	width: 100%;
	background-color: #e4ba88;
}

.navbar-default .navbar-toggle {
    border-color: #a6000b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #a6000b;
}

/*Contact Icons*/
.contact-icons {
	padding: 15px;
	display: none;
}

.fa {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    color: #fff;
}

.fa-mobile:before, 
.fa-envelope-o:before {
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
}

.fa-mobile {
    font-size: 30px;
    background-color: #a6000b;
}

.fa-envelope-o {
    font-size: 20px;
    background-color: #a6000b;
}

/*carousel*/
.carousel-inner>.item>img {
	width: auto;
	max-width: 1000px;
	min-height: 200px;
	left: 50%;
	transform: translate(-50%);
	position: relative;
}

.carousel-caption h2 {
    font-size: 3em;
    text-shadow: 1px 1px 5px rgba(255,255,255,0.75);
}

.carousel-caption p {
    font-size: 1.5em;
    background-color: rgba(255,255,255,0.85);
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    text-shadow: none;
}


/*Row of icon buttons*/
.rowLinks {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rowLinks button {
    border-radius: 10%;
    width: 130px;
    height: 130px;
    margin: 20px 4% 0;
}

.rowLinks button:hover {
	background-color: #331507;
}

.rowLinks button > p {
	text-transform: uppercase;
    color: #fff;
    background-color: #d1a065;
    border-radius: 10px;
    padding: 10px;
}

.rowLinks button:hover p {
	background-color: #a6000b;
}

/*contentRow*/
.contentRow {
    padding-bottom: 50px;
}

.content {
    border: 1px dashed #e2e2e2;
    margin-top: 20px;
    padding: 20px;
	background: rgba(255,255,255,0.5);
}

.contentContact {
    background-color: rgba(209,160,101,0.8);
    padding: 20px;    
	margin-top: 20px;
	color: #331507;
}

.contentContact a:hover {
    color: #a6000b;
}

.contentRow img {
	width: 100%;
}

.btn {
    background-color: #a6000b;
    color: #fff;
}

.btn:hover {
    background-color: #331507;
    color: #fff;
}

label {
	margin-top: 15px;
}

/*content rows internal pages*/
.rowMain {
	padding: 50px;
	position: relative;
}

.rowMain:before {
    background: rgba(0,0,0,0.65);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.rowMain h1 {
    font-size: 3.5em;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.75);
}

.rowMain p {
	color: #fff;
    max-width: 90%;
    margin: 25px auto 0;
}

#rowInternal1,
#rowInternal3 {
	padding: 50px 20px;
}


.imageCol {
 	padding: 0;
	min-height: 200px;
}

.contentCol,
.formCol {
 	padding: 20px;
}

  /* Create the parallax scrolling effect */
.parallax { 
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Footer*/
footer {
    padding: 20px;
    background-color: #d1a065;
}

/* mobile or small-sized devices */
@media only screen and (max-width: 520px) {
	/*rowHeader*/
	.rowHeader {
		display: none;
	}

	/*Contact Icons*/
	.contact-icons {
		display: block;
	}

	.fa {
	    margin: 0 5px;
	}

	.btn p {
    	font-size: 0.86em;
	}
}


/*Custom media queries for in-between small and medium*/
@media only screen and (min-width: 768px) {

	.dropdown-menu>li>a {
    	padding-top: 12px;
    	padding-bottom: 12px;
	}
	
	.container-fluid>.navbar-collapse, 
	.container-fluid>.navbar-header, 
	.container>.navbar-collapse, 
	.container>.navbar-header {
		margin-right: -15px;
		margin-left: -15px;
	}

	#rowInternal1,
 	#rowInternal3 {
 		display: flex;
 	}

 	.rowMain p {
 	   max-width: 75%;
	}
}

/*Media queries for tablet*/
@media only screen and (min-width: 521px) and (max-width: 960px) {

	.rowHeader span {
    	font-size: 1.2em;
    	line-height: 1.5;
	}

	.fa {
    	width: 30px;
    	height: 30px;
	}

	.fa-mobile {
    	font-size: 22px;
	}

	.fa-envelope-o {
    	font-size: 14px;
	}

	.navbar-header {
		display: none;
	}

	.navbar-nav {
		float: none;
	}

	.navbar-collapse.collapse {
    	display: block!important;
    }

	.navbar-nav>li {
    	width: 33.33%;
		text-align: center;
		float: left;
	}
	
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		background-color: #e4ba88;
		width: 100%;
		text-align: center;
	}
	
	.rowLinks .column {
    	max-width: 480px;
    	margin: 0 auto;
    	float: none;
	}

	.rowLinks button {
	    width: 170px;
	    height: 170px;
	}

	.content,
	.contentContact {
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.rowMain {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.contentCol, 
	.formCol {
    	padding: 30px;
	}

	/*parallax*/
	.parallax { 
    	height: 300px; 
    }
}

/*Media queries for desktop*/
@media only screen and (min-width:961px) {

	/*rowHeader*/
	.logo {
   		min-width: 355px;
	}

	.rowHeader span {
    	font-size: 2em;
    	line-height: 2;
	}

	/*nav*/
	.navbar-header {
		display: none;
	}

	.navbar-nav {
		float: none;
	}

	.navbar-nav>li {
    	width: 33.33%;
		text-align: center;
	}
	
	.navbar-nav .open .dropdown-menu {
		text-align: center;
	}
	
	/*Carousel*/
	.carousel-inner>.item>img {
		width: 100%;
		max-width: 100%;
		left: 0;
		transform: none;
	}

	/*rowMain*/
	.rowMain {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	/*rowLinks buttons*/
	.rowLinks button {
	    width: 200px;
	    height: 200px;
	    margin-right: 12px;
	    margin-left: 12px;
	}

	/*internal page rows*/
	#rowInternal1,
 	#rowInternal3 {
 		display: flex;
 	}

 	.contentCol, 
	.formCol {
    	padding: 50px;
	}

	/*parallax*/
	.parallax { 
    	height: 400px; 
    }

}