* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body*/
body {
	background: url("../img/site-background.jpg") no-repeat scroll center center / cover transparent;
	
}

/*wrapper*/
.wrapper {
	background: url("../img/josies-delicacies-bread-background.png") no-repeat scroll center bottom / contain transparent;
	
}

/*fonts*/
h1,
h2,
h3 {
	font-family: 'Pacifico', cursive;
}

p,
a,
span,
h4,
.navbar-default .navbar-nav > li > a {
	font-family: 'Cabin Condensed', sans-serif;
}

h1,
h2, 
h3, 
h4 {
	color: #a6000b;
}

p,
a,
span,
.navbar-default .navbar-nav li > a,
.navbar-default .navbar-nav .open .dropdown-menu li > a {
    color: #331507;
}



/*contactDetails*/
.contactDetails {
    text-align: right;
}

/*Business logo*/
.logo {
    padding: 20px;
    max-width: 50%;
    min-width: 200px;
}

.navbar-brand {
	height: auto;
	max-width: 60%;
}

/*Navigation Bar*/

.navbar {
    background-color: #e4ba88;
    margin-bottom: 0px;
    border: 0;
	min-height: 0;
    border-radius: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #a6000b;
	color: #fff;
}

.dropdown-menu {
	width: 100%;
	background-color: #e4ba88;
}

/*Contact Icons*/
.contact-icons {
	padding: 15px;
	display: none;
}

.fa {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
}

.fa-mobile:before, 
.fa-envelope-o:before {
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
}

.fa-mobile {
    font-size: 40px;
    background-color: orange;
}

.fa-envelope-o {
    font-size: 25px;
    background-color: orange;
}

/*carousel*/
.carousel-inner>.item>img {
	width: auto;
	max-width: 1000px;
	min-height: 200px;
	left: 50%;
	transform: translate(-50%);
	position: relative;
}


/*Row of icon buttons*/
.rowLinks {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rowLinks button {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    margin: 20px 3% 0;
}

.rowLinks button > p {
	text-transform: uppercase;
    color: #fff;
    background-color: #d1a065;
    border-radius: 10px;
    padding: 10px;
}



/*contentRow*/
.contentRow {
    padding-bottom: 50px;
}

.content {
    border: 1px dashed #e2e2e2;
    margin-top: 20px;
    padding: 20px;
	background: rgba(255,255,255,0.5);
}

.contentContact {
    background-color: rgba(209,160,101,0.8);
    padding: 20px;    
	margin-top: 20px;
	color: #331507;

}

.contentRow img {
	width: 100%;
}

.btn {
    background-color: #a6000b;
    color: #fff;
}

label {
	margin-top: 15px;
}

/*content rows internal pages*/
.rowMain {
	padding: 50px;
	position: relative;
}

.rowMain:before {
    background: rgba(0,0,0,0.65);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}


 .imageCol {
 	padding: 0;
 	min-height: 200px;
 }

 .contentCol,
 .formCol {
 	padding: 20px;
 }

  /* Create the parallax scrolling effect */
.parallax { 
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Footer*/
footer {
    padding: 20px;
    background-color: #d1a065;
}

/* mobile or small-sized devices */
@media only screen and (max-width: 400px) {
	/*rowHeader*/
	.rowHeader {
		display: none;
	}

	/*Contact Icons*/
	.contact-icons {
		display: block;
	}
	
}


/*Custom media queries for in-between small and medium*/
@media only screen and (min-width: 768px) {
	
	.container-fluid>.navbar-collapse, 
	.container-fluid>.navbar-header, 
	.container>.navbar-collapse, 
	.container>.navbar-header {
		margin-right: -15px;
		margin-left: -15px;
	}

	#rowInternal1,
 	#rowInternal3 {
 		display: flex;
 	}
}

/*Media queries for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.navbar-header {
		display: none;
	}

	.navbar-nav {
		float: none;
	}

	.navbar-collapse.collapse {
    	display: block!important;
    }

	.navbar-nav>li {
    	width: 33.33%;
		text-align: center;
		float: left;
	}
	
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		background-color: #e4ba88;
		width: 100%;
		text-align: center;
	}
	
	.rowLinks .column {
    	max-width: 480px;
    	margin: 0 auto;
    	float: none;
	}

	.rowLinks button {
	    width: 170px;
	    height: 170px;
	}

	.content,
	.contentContact {
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.rowMain {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.contentCol, 
	.formCol {
    	padding: 30px;
	}

	/*parallax*/
	.parallax { 
    	height: 300px; 
    }
}

/*Media queries for desktop*/
@media only screen and (min-width:961px) {

	.navbar-header {
		display: none;
	}

	.navbar-nav {
		float: none;
	}

	.navbar-nav>li {
    	width: 33.33%;
		text-align: center;
	}
	
	.navbar-nav .open .dropdown-menu {
		text-align: center;
	}
	
	/*Carousel*/
	.carousel-inner>.item>img {
		width: 100%;
		max-width: 100%;
		left: 0;
		transform: none;
	}

	.rowLinks button {
	    width: 200px;
	    height: 200px;
	    margin-right: 12px;
	    margin-left: 12px;
	}

	.rowMain {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	#rowInternal1,
 	#rowInternal3 {
 		display: flex;
 	}

 	.contentCol, 
	.formCol {
    	padding: 50px;
	}

	/*parallax*/
	.parallax { 
    	height: 400px; 
    }

}