/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* to avoid overflowing elements */
	/*box-sizing: content-box; default value of box-sizing */
}

.wrapper {
	border: 1px solid #232323;
	width: 48%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

div.wrapper > div,
div.wrapper > div > div {
	border: 2px solid #5d6063;
	background-color: skyblue;
	padding: 20px;
	border-radius: 5px;
	margin-top: 25px;
	width: 50%;
}

h1,
p {
	background-color: #dde0e3;
}

/*from inline to block*/
em,
strong {
	background-color: #b2d6ff;
	display: inline;
}

h1 {
	padding: 50px;
	border: 1px solid #5d6063;
}

strong {
	/*padding: 50px;*/
	margin: 50px;
}

p {
	padding: 14px;
	/*margin-bottom: 50px;*/
	margin-top: 25px;
}

span {
	font-size: 2em; /* em = 16px */
	color: red;
}